* {
    padding: 10px;
    margin: 0;
}

body {
    background-color: #444;
    color: #fff;
}

.self_name {
    margin-top: 30px;
}
.self_name h1 {
    font-size: 100px;
}

.self_name h3 {
    font-size: 50px;
}


.self_name img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.dev_info {
    margin-top: 25px;
}

.dev_info img {
    width: 300x;
    height: 450px;
    border-radius: 30%;
}

.about_me {
    margin-top: 30px;
}

.technologies {
    margin-top: 30px;
}

.technologies li {
    display: inline;
    font-size: 40px;
    margin-top: 10px;
    margin-right: 10px;
}

.technologies img {
    margin-right: 5px;
    width: 35px;
    height: 35px;
}

.projects{
    padding 30px;
    margin-top: 40px;
}

.projects h1 {
    font-size: 45px;
    padding: 25 px;
    margin-top: 40px;
}

.project_tech li {
    display: inline;
    margin-right: 5px;
}

.end_footer {
    margin: 25px;
    text-align: center;
}

.end_footer img {
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 5px;
}

.end_footer p {
    font-size: 25px;
}