* {
    padding: 50px;
}

body {
    background-color: #222;
    color: #fff;
}

.self_name {
    
}
.self_name {
    h1 {
        font-size: 100px;
    }
    
    h3 {
        font-size: 50px;
        text-align: center;
    }

    img {
        width: 45px;
        height: 45px;
        margin-bottom: 30px;
        text-align: center;
    }
}

.dev_info {
    margin-top: 40px;
    
    img {
        width: 300x;
        height: 450px;
        border-radius: 30%;
    }
}

.about_me {
    margin-top: 30px;
}

.technologies {
    margin-top: 30px;

    li {
        display: inline;
        font-size: 40px;
        margin-top: 10px;
        margin-right: 10px;
    }
    img {
        margin-right: 5px;
        width: 35px;
        height: 35px;
    }
}

.projects {
    padding 30px;
    margin-top: 40px;

    h1 {
        font-size: 45px;
        padding: 25 px;
        margin-top: 40px;
    }
}

.project_tech li {
    display: inline;
    margin-right: 5px;
}

.end_footer {
    margin: 25px;
    text-align: center;
    
    img {
        width: 30px;
        height: 30px;
        padding: 0;
        margin-right: 5px;
    }
    
    p {
        font-size: 25px;
    }
}